mixin moreDetails(link)
  .moreDetails.pull-right.orange  
                .fa.fa-plus-square.fa-2x(data-toggle='collapse', data-parent='#accordion', href='#{link}')
                p.small.orange.pull-right(data-toggle='collapse', data-parent='#accordion', href='#{link}')
                  |more
                  br
                  |details
.wrapper
  #accordion.panel-group
      .panel.panel-default
          .panel-heading
            h4
              a.Blu-text(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | Need help understanding the basics of health insurance?
              +moreDetails('#collapseOne')
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          .panel-heading
            h4
              a.Blu-text(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | Interested in how “metallic plans“ are structured?
              +moreDetails('#collapseTwo')
          #collapseTwo.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          .panel-heading
            h4
              a.Blu-text(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | Want to review a summary of our plans?
              +moreDetails('#collapseThree')
          #collapseThree.panel-collapse.collapse
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
