<section class="container">

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p>Paying the deductible</p>
            <p class="small">Jane visits her doctor. She pays the entire cost from her visit because she has not reached her $1,500 deductible yet.</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p>Paying the deductible</p>
            <p class="small">Jane visits her doctor. She pays the entire cost from her visit because she has not reached her $1,500 deductible yet.</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p>Paying the deductible</p>
            <p class="small">Jane visits her doctor. She pays the entire cost from her visit because she has not reached her $1,500 deductible yet.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h1>one</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h1>two</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h1>four</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 100%</div>
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 0%</div>

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Office visit cost:</p>
                    <p>Jane pays:</p>
                    <p>Her plan pays:</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>$100</p>
                    <p>$100</p>
                    <p>$0</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 100%</div>
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 0%</div>

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Office visit cost:</p>
                    <p>Jane pays:</p>
                    <p>Her plan pays:</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>$100</p>
                    <p>$100</p>
                    <p>$0</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 100%</div>
            <div class="col-lg-6 col-md-6 col-sm-6">Jane pays 0%</div>

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Office visit cost:</p>
                    <p>Jane pays:</p>
                    <p>Her plan pays:</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>$100</p>
                    <p>$100</p>
                    <p>$0</p>
                </div>
            </div>
        </div>
    </div>

</section>
