//- choosing the right partner section 
#choose-a-partner
	section.choose-partner
		.content
			h1.Blu-text Choosing the right health care partner 
			h2.Blu-text.SectionIntroText When you choose a health plan, you choose more than a deductible and co-pay – you choose a partner for your health care.
			.row.subCont
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					P.Blu-text A good partner brings you security – through its reputation, experience, and resources. It provides you:
					ul(style="padding-left:0px;")
						li.Blu-text Access to the doctors you need
						li.Blu-text Coverage for the prescriptions you rely on
						li.Blu-text Tools that help manage your costs
						li.Blu-text Services that make it easier for you to stay in your best health
						div(id="sectionTest")
					
					p.Blu-text Find out how we can be that health care partner as you learn about our plans. 
							
				.col-lg-3.col-md-3.col-sm-12.sideBox
					p.white If you have any questions, we’d love to talk with you. Call us 24/7 at <br>   <a href="tel:+184426127797"><b><span class="white">844-263-7797</span></b></a>
