

.content
  #accordion.panel-group
      .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | Need help understanding deductibles and co-insurance?
                +moreDetails('#collapseOne')
          #collapseOne.panel-collapse.collapse
            .panel-body
                .col-lg-9
                  p.Blu-text Deductibles and co-insurance are two kinds of out-of-pocket costs – what you pay when you receive care. Deductible is the amount you pay for your health care before your insurance plan begins to pay. 
                  p.Blu-text Co-insurance begins once you reach your deductible. That’s when you and your plan begin to share the cost of your covered services. If you meet your out-of-pocket limit – the most you have to pay out of pocket in a year – then your plan pays 100% of your eligible expenses.
                  p.Blu-text This example follows Jane over the course of a year, showing how she meets her deductible, then eventually her out-of-pocket limit.

                img.img-responsive(src="./images/pharmacy-symbol.png" alt="" name="" title="")

        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | Want to learn about “metallic levels?”

                +moreDetails('#collapseTwo')

          #collapseTwo.panel-collapse.collapse
            .panel-body
              .col-lg-10
                  p.Blu-text Plans on the Federally Facilitated Marketplace are sorted into five categories or “metal levels.” The levels represent the share of total costs an average person would pay for that plan. This includes monthly premiums, deductibles, co-payments, co-insurance and out-of-pocket limits. 
                  p.Blu-text The actual percentage you’ll pay in total for each service will depend on the actual care you receive. In general, the less you pay in premiums per month, the more you pay out of pocket when you receive care. 

             +metallicChart2('Total monthly costs','Cost per doctor appt. or prescription','Best if flyout.jade')
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | See Summary of Benefits and Coverage documents 
                +moreDetails('#collapseThree')
          #collapseThree.panel-collapse.collapse
            .panel-body
              #MetalicLevelPlans
              script(id="plantypelist" type="text/x-handlebars") 
                h5.Blu-text.bold Platinum Plans 
                {{#each AZPlans}}
                {{#if_eq MetallicLevel "Platinum"}}
                a.orange(href="/files/sbc{{SBCURL}}") {{PlanName}} (PDF) <i class="fa fa-download"></i>
                br 
                {{/if_eq}}
                {{/each}}
                br 
                br
                h5.Blu-text.bold Gold Plans 
                {{#each AZPlans}}
                {{#if_eq MetallicLevel "Gold"}}
                a.orange(href="/files/sbc{{SBCURL}}"){{PlanName}} (PDF) <i class="fa fa-download"></i>
                br
                {{/if_eq}}
                {{/each}}
                br
                br 
                h5.Blu-text.bold Silver Plans 
                {{#each AZPlans}}
                {{#if_eq MetallicLevel "Silver"}}
                a.orange(href="/files/sbc{{SBCURL}}") {{PlanName}} (PDF) <i class="fa fa-download"></i>
                br 
                {{/if_eq}}
                {{/each}}
                br 
                br
                h5.Blu-text.bold Bronze Plans 
                {{#each AZPlans}}
                {{#if_eq MetallicLevel "Bronze"}}
                a.orange(href="/files/sbc{{SBCURL}}") {{PlanName}} (PDF) <i class="fa fa-download"></i>
                br
                {{/if_eq}}
                {{/each}}
                br 
                br
                h5.Blu-text.bold Catastrophic Plans 
                {{#each AZPlans}}
                {{#if_eq MetallicLevel "Catastrophic"}}
                a.orange(href="/files/sbc{{SBCURL}}") {{PlanName}} (PDF) <i class="fa fa-download"></i>
                br
                {{/if_eq}}
                {{/each}}


            
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                | View a sample insurance policy
                +moreDetails('#collapseFour')
          #collapseFour.panel-collapse.collapse
            .panel-body
                p.Blu-text This is an example of an insurance policy – please use this information only as a general reference. You will receive the actual policy for the plan you select once you become a member. Insurance in Arizona is offered by All Savers Insurance Company. <br> <a href="http://xmi.welcometouhc.com/files/xmi/content/xmi%20specific%20files/XMI%20-%20Sample%20Policy.pdf" target="_blank" class="orange">View sample policy (PDF) <i class="fa fa-download"></i></a>
              

