script( id="DropdownTemplate" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='#' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam}}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}

script( id="DropdownTemplate2" type="text/x-handlebars-template")
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext Silver 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}



script( id="DropdownTemplate3" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate4" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate5" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate_xtra" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}
    
                   
script( id="DropdownTemplate6" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='{{PlanURL}}' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam }}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}


script( id="DropdownTemplate7" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Platinum Compass 250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate8" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 1250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate9" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate10" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate11" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate12" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate13" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate14" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate15" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass HSA 4900"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate16" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass 5500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

//  ===================================== modal templates ============


script( id="ModalDropdownTemplate" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='#' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam}}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}

script( id="ModalDropdownTemplate2" type="text/x-handlebars-template")
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext Silver 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}



script( id="ModalDropdownTemplate3" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate4" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate5" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate_xtra" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}
    
                   
script( id="ModalDropdownTemplate6" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='{{PlanURL}}' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam }}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}


script( id="ModalDropdownTemplate7" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Platinum Compass 250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate8" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 1250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate9" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate10" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate11" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate12" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate13" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate14" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate15" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass HSA 4900"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate16" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass 5500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}
