// Plan Details Sub Page Bottom Content Mixin 
.content
    .Blu-text(style="margin: 0 auto;")
        br
        h4.bold.Blu-text WITH THIS PLAN, YOU:
        br 
        .col-lg-6.col-sm-12.col-xs-12
            ul
                li(style="margin-bottom: 10px;") Select a “Primary Care Physician (PCP)” &ndash; the main doctor who takes care of you.
                li Require a referral from your primary care physician to see a specialist. This plan does not pay for care from a specialist received without a referral.
        .col-lg-6.col-sm-12.col-xs-12
            ul
                li(style="margin-bottom: 10px;") Receive coverage within the plan’s network of doctors, hospitals, pharmacies and clinics. This plan does not pay for care received outside the network.
                 &nbsp; <br>

        .col-lg-6.col-sm-12.col-xs-12
            ul
                li(style="margin-bottom: 10px;")
                <p class="white">lorem</p>
                <p class="white">lorem</p>      
        h4.bold.Blu-text.text-uppercase View a sample health plan policy
        br
        p.Blu-text This is an example of an insurance policy – please use this information only as a general reference. You will receive the actual policy for the plan you select once you become a member. 
            br
            a(href="http://xmi.welcometouhc.com/files/xmi/content/xmi%20specific%20files/XMI%20-%20Sample%20Policy.pdf" target="_blank").orange View sample policy (PDF)

    p.lightGray.small This is only a summary. For more information about coverage and costs, call us We’re available during the following times: Mon.–Tues. 8 a.m.–9 p.m. EST; Wed.–Thur. 8a.m.–8p.m. EST; Fri. 8a.m.–7p.m.; Sat. 9a.m.–6p.m.; Sun. 11a.m.–6p.m. at <a href="tel:8442637797" class="">844-263-7797</a>. TTY user dial 711. Insurance is offered by UnitedHealthcare Community Plan, Inc.
  //  include ./helathcarePlans-accordion
// #BlueBottom
//         .content
//             h4.SubHeadText Helping you live your healthiest
//             p.Blu-text As a UnitedHealthcare member, you’ll have resources that help you live your healthiest and manage your costs. With a mix of information, reminders, and tools we make it easier to stay at your best health and get the most from your health care. <a href="http://welcometomyuhc.com/demo2013/" class="orange" target="_blank">Take a tour <i class="fa fa-external-link"> </i>  </a>
//             .player
//             //- video#SubPage-video(preload='metadata', controls='controls')
//             //-     source(src="../../videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
//             //-     source(src='../../videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
//             //-     source(src='../../videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg') 

//             video(preload='metadata', controls='controls' class="")
//                 source(src="./videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
//                 source(src='./videos/ToolToSucceed/ToolsToSucceed.webm', type='video/webm')
//                 source(src='./videos/ToolToSucceed/ToolsToSucceed.ogv', type='video/ogg')
//             p.Blu-text See more videos from UnitedHealthcare at <a href="http://www.uhc.tv" target="_blank" class="orange">UHC.tv</a> and <a href="http://www.uhc.com/storytellers.htm" target="_blank" class="orange">Storytellers</a>

include ./modals-temp.jade
include ./modals.jade

