a(href="#")
#section1
        .content
            .white
                h1 Welcome
                h2.SectionIntroText Thank you for your interest in UnitedHealthcare! We’re glad to tell you more about the plans we offer on healthcare.gov. And we’d like to show you a little about how we can simplify your health care.

            br
            .row
                .col-lg-2.col-md-2
                    img.hidden-xs(src="./images/plans.png" class="img-responsive")
                .col-lg-9.col-md-9
                    .row
                        .col-lg-12  
                            h2.Blu-text(style="font-weight:300 !important;") What plan are you interested in?
                            <br>
                    .row
                        .col-lg-4.col-md-4.col-sm-12.col-xs-12
                            h4.Blu-text(style="font-weight:300") Are you a member of a federally recognized tribe or an ANCSA shareholder?
                            input(id="nativeAmericanCheck" type='radio' name='nativeAmerican' value='0' data-nativeAmerican="true" style="float:left").radio-inline
                            .NACheckBox Yes
                            input(checked id="nonNativeAmericanCheck" type='radio' name='nonNantiveAmerican' value='0' data-nativeAmerican="false" style="float:left;").radio-inline
                            .NACheckBox No


                        .col-lg-8.col-md-8.col-sm-12.col-xs-12
                            
                            #DropdownBlock_1
                                h4.Blu-text(style="font-weight:300") Choose a plan you saw on healthcare.gov
                                #Dropdown
                                a.white.small(href="./select-a-plan.html" alt="#") Don't Know?
                            br 

                            #DropdownBlock_2
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown2 

                            #DropdownBlock_3
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown3

                            #DropdownBlock_4
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown4

                            #DropdownBlock_5
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown5
                            
                            #DropdownBlockxtra
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdownxtra

                            #DropdownBlock_6
                                h4.Blu-text(style="font-weight:300") Choose a plan you saw on healthcare.gov
                                #Dropdown6
                                a.white.small(href="./select-a-plan.html" alt="#") Don't Know?
                            br
                            
                            #DropdownBlock_7
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown7 

                            #DropdownBlock_8
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown8

                            #DropdownBlock_9
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown9

                            #DropdownBlock_10
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown10


                             #DropdownBlock_11
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown11

                             #DropdownBlock_12
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown12

                            #DropdownBlock_13
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown13

                            #DropdownBlock_14
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown14

                            #DropdownBlock_15
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown15

                            #DropdownBlock_16
                                h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                                    +subplanTooltip
                                #Dropdown16









            .dottedline(style="border-top-style: dotted; border-width: 1px; border-color: @h1-blue; margin-top: 20px; margin-top:25px; margin-bottom:25px;")


            .row(style="margin-top:20px;")
                .col-lg-5.col-md-5.col-sm-5.col-xs-12
                    a(href="#section4" style="text-decoration: none;")
                        img.iconPNG(src="./images/icon-map.png" )
                        h2.Blu-text.icontext Explore our network <br> of doctors, pharmacies and hospitals
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    a(href="#section5" style="text-decoration: none;")
                        img.iconPNG(src="./images/icon-pills.png" )
                        h2.Blu-text.icontext Understand our prescription drug coverage




// =========================================== SCRIPT =====================================


script( id="DropdownTemplate" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='#' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam}}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}

script( id="DropdownTemplate2" type="text/x-handlebars-template")
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext Silver 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}



script( id="DropdownTemplate3" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate4" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate5" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate_xtra" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}
    
                   
script( id="DropdownTemplate6" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='{{PlanURL}}' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam }}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}


script( id="DropdownTemplate7" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Platinum Compass 250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate8" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 1250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate9" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate10" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate11" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate12" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate13" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate14" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate15" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass HSA 4900"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="DropdownTemplate16" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass 5500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

//  ===================================== modal templates ============


script( id="ModalDropdownTemplate" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='#' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam}}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}

script( id="ModalDropdownTemplate2" type="text/x-handlebars-template")
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext Silver 
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}



script( id="ModalDropdownTemplate3" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate4" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate5" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate_xtra" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
            {{/if_eq}}  
            {{/each}}
    
                   
script( id="ModalDropdownTemplate6" type="text/x-handlebars-template") 
                .dropdown
                    .dropButton(type='button', data-toggle='dropdown') 
                        .dynaLabel.droptext Select a plan
                        ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                        {{#each LAPlans}}
                        li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='{{PlanURL}}' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam }}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanNameShort}}
                        {{/each}}


script( id="ModalDropdownTemplate7" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Platinum Compass 250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate8" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 1250"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP4NativeLink}}') {{OOP4Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP5NativeLink}}') {{OOP5Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP6NativeLink}}') {{OOP6Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP7NativeLink}}') {{OOP7Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP8NativeLink}}') {{OOP8Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate9" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Gold Compass 500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate10" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 2600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate11" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 1600"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate12" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate13" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 3500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
                
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate14" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate15" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass HSA 4900"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}

script( id="ModalDropdownTemplate16" type="text/x-handlebars-template") 
    .dropdown
        .dropButton(type='button', data-toggle='dropdown') 
            .droptext select
            ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
            {{#each laValues}}
            {{#if_eq PlanName "UnitedHealthcare Bronze Compass 5500"}}
            li(role='presentation')
                a(role='menuitem', tabindex='-1', href='{{OOP1NativeLink}}') {{OOP1Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP2NativeLink}}') {{OOP2Native}}
                a(role='menuitem', tabindex='-1', href='{{OOP3NativeLink}}') {{OOP3Native}}
            {{/if_eq}}  
            {{/each}}




include ./modals.jade            