#section6
    .content
        a(href="#section6")
        h1#health-care-advantage-head.white.SectionIntroText The United Healthcare advantage
        h2.white.SectionIntroText Health care can be complicated. Your health plan doesn’t have to be.
    .content
        .row 
            .col-lg-8.white
                p.white With UnitedHealthcare, you’ll have tools, services and resources that simplify your health care, providing you with the care and information you need, when you need it:
                ul.white
                    li Access to the doctors you need
                    li Coverage for the prescriptions per your plan
                    li Tools that help manage your costs
                    li Services that make it easier for you to stay in your best health
                p.white Learn more about the UnitedHealthcare advantage:

            .col-lg-3
                .dashedbox.text-center If you have questions, we’d love to talk with you. <br> Call us at 
                    <br><b><a href="tel:+18442637797" class="white" style="font-weight:600">877-512-9939</a><br>TTY user dial 711</b>(8 a.m to 8 p.m EST, M-F)
            .col-lg-1
                br
    .content 
         
        +valuePropositionFeature('./images/nurse-symbol.png', 'A nurse is just a phone call away', 'With each of our plans you’ll have access to a Registered Nurse 24 hours a day by calling NurseLine. Nurses can provide you information to help you make more informed decsions about your heath care. You can chat with a nurse at myuhc.com, too.','white','sec1btn-vid','white','images/NurseLine2.png', 'border', 'mi-nurse-line')
        .player
             video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid" data-videoID="mi-nurse-line")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Susan_Mustacchio_s.mp4", type="video/mp4")
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Susan_Mustacchio_s.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Susan_Mustacchio_s.ogg', type='video/ogg')      

        
        +valuePropositionFeature('./images/phone-symbol.png','Health4Me – your plan on the go', 'The Health4Me app puts your plan in your pocket. Look up your benefits, research conditions and find nearby doctors, clinics, hospital and urgent care facilities. If unexpected illnesses occur, you are connected to care wherever you are.','white','sec4-vid-btn','white','http://www.sheartail.com/preview/LA/images/Health4Me.png','class','mi-health-for-me')
        .player
            video#sec4-video(preload='metadata', controls='controls' class="sec-4-vid" data-videoID="mi-health-for-me")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.mp4", type="video/mp4" )
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.ogv', type='video/ogg')
        
        
        +valuePropositionFeature('./images/calc-symbol.png','A clear picture of your costs – before they occur', 'Quickly and easily estimate your health care costs for specific treatments and procedures with myHealthcare Cost Estimator. You’ll get an estimate based on the provider and location you select, personalized to your health plan and your benefit status.','white','sec6-vid-btn','white','images/Cost-Estimate_Video_Thumb.png', 'class', 'mi-cost-estimator')
        .player
            video#sec6-video(preload='metadata', controls='controls' class="sec-3-vid" data-videoID="mi-cost-estimator")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4", type="video/mp4" )
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4.ogv', type='video/ogg')

        
        +valuePropositionFeature('./images/pharmacyCard-symbol.png','Specialty Pharmacy services', 'Our Specialty Pharmacy provides comprehensive and coordinated support for medications used to treat complex chronic conditions. Our pharmacists offer you a single source for understanding and managing your medication.','white','sec5-vid-btn','white','images/SpecialtyPharmacy2.png', 'tborder','mi-pharmacy-services')
        .player
            video#video-player-sec5(preload='metadata', controls='controls' class="sec-3-vid" data-videoID="mi-pharmacy-services")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Richard_Sorenson_s_Story.mp4", type="video/mp4")
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Richard_Sorenson_s_Story.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Richard_Sorenson_s_Story.ogv', type='video/ogg')
    
        
        +valuePropositionFeature('./images/file-symbol.png','Your claims – organized and at hand', 'The online myClaims Manager organizes your claims for easy reference. See your claims, the current status of each and what you may owe. You can filter claims by type, date and family member. You can even export your information to store and use as you wish.','white','claims-vid-btn','white','images/YourClaims_VideoThumb.png', 'bborder', 'my-claims')
        .player
            video#claims-video(preload='metadata', controls='controls' class="claims-video" data-videoID="mi-my-claims")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.mp4", type="video/mp4")
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.ogv', type='video/ogg')
    
    .content
        h1#getting-started-head.white.SectionIntroText Getting started
        h2.white.SectionIntroText Once you’ve selected the United Healthcare plan that’s right for you, it takes a few more steps before your coverage begins. Here are some things to know.
        h2.white.SectionIntroText If we can help at any time, call us at <a class="white" href="tel:+18442637797">844-263-7797</a>. TTY user dial 711
        .row
            .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
                +icons('./images/circle1.png','Enroll at healthcare.gov','Once you have chosen your plan on this site, print out the page or write down the plan name. Return to healthcare.gov and select the plan to enroll. Call us if you’d like help locating your plan. <br><br> To enroll, you’ll need the Social Security number for each person who will be covered by the plan. You’ll also be asked for the total income for everyone on the plan. If you are eligible for a subsidy, you will receive an estimate at that time.')
            .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
               +icons('./images/Circle2.png','Pay your first bill','We will send you the first bill for your monthly premium 7 to 10 days after you enroll. Your coverage will begin after we receive your payment.')
            .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
                +icons('./images/circle3.png','Your coverage begins as early as February 1, 2015','If we receive your first payment on or before January 15, 2015, your health plan begins February 1, 2015. If you make your first payment by February 15, your plan will begin March 1. <br> Remember, you must enroll in a plan by February 15 – that’s the last day of open enrollment for 2015. ')

    .content(style="display: block; height: 140px;")
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            a.col-lg-6.col-md-6.col-sm-6.col-xs-12.button.btn.orange-btn.btn-lg.btntxt(href="http://www.healthcare.gov" target="_blank") ENROLL NOW
            .col-lg-1.col-md-1.col-sm-12.col-xs-12
                p.text-center.white(style="margin-top:10px") -OR-
            .white.col-lg-5.col-md-5.col-sm-5.col-xs-12.center-block 
                .dashedbox.text-center Call us at  <b><a href="tel:+18442637797" style="font-weight:700;" class="white">844-263-7797 </a>TTY user dial 711</b> 
        
       
       
               