<div class='table-responsive'>
  <table class="table table-bordered table-hover">
      <tr>
          <th></th>
          <th>Total Monthly Cost</th>
          <th>Cost per Doctorappt. or prescription</th>
          <th>best if you</th>    
      </tr>
      <tr>
          <td>Catastrophic</td>
          <td><img src="#"></td>
          <td><img src="#"></td>
          <td>lorem</td>
      </tr>
      <tr>
          <td>Bronze</td>
          <td></td>
          <td></td>
          <td>lorem</td>
      </tr>
      <tr>
          <td>Silver</td>
          <td></td>
          <td></td>
          <td>lorem</td>
      </tr>
      <tr>
          <td>Gold</td>
          <td></td>
          <td></td>
          <td>lorem</td>
      </tr>
      <tr>
          <td>Platnium</td>
          <td></td>
          <td></td>
          <td>lorem</td>
      </tr>
  </table>
</div>
