block top-nav
	.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.upperNavbar.hidden-sm.hidden-xs
			.container
				.upperNavbar-Box.pull-right
					.questionsTxt Questions? Call us at <a style="padding-right:10px;" href="tel:8775129939" class="phone-number">877-512-9939</strong></a> TTY user dial 711
					p.xs-small (8 a.m to 8 p.m EST, M-F)
		.container.mainnav
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='index.html') 
				img.headlogo(src="./images/UHC-Logo-Blu.png")
			.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#' data-toggle="modal" data-target="#model-tool") Our plans
						li
							a(href='index.html#section4') Doctors &amp; hospitals
						li
							a(href='index.html#section5') Prescription coverage
						li
							a(href='index.html#healthresources') Health care Resources
						li
							a(href='index.html#section6') The UnitedHealthcare advantage
		

				