// Tablet Stylings 
@media only screen and (max-width: 1199px) {
    .navbar-inverse .navbar-nav > li {
        padding: 0px !important;
    }
    #ProductDetailsTable, #ProductDetailsFilterBar {
        width: 90%;
    }
}
// Mobile Stylings 
@media(max-width:1199px) {
    .circleimg {
        padding: 30px 0;
    }
}


@media(min-width:1090px){
    #health-care-resources-head{
        padding-top: 150px;
    }
    
}

@media(max-width:1088px){

#collapseOne > div > section > div > div:nth-child(1) > img {
height: auto !important;
    }
}


@media(max-width:992px){
    #nativeAm{
        margin-bottom: 50px;
    }

    .why-cell{
        display: none;
    }

    #section5>div:nth-child(3)>div>div>div:nth-child(2) {
margin-top: 10px;
}

@media(min-width:768px) and (max-width:992px){
    body>div.navbar.navbar-inverse.navbar-fixed-top>div.container.mainnav>div>ul>li>a{
        font-size: 10px !important;
    } 
}

@media(min-width:376px) and (max-width:767px){
    #networkBtn{
        margin-left: 8px !important;
    }
}

@media(min-width:321px) and (max-width:375px){
    #networkBtn{
        margin-left: 0px !important;
    }
}

@media(max-width:320px){
    #networkBtn{
        margin-left: -24px !important;
    }
}


body>div.navbar.navbar-inverse.navbar-fixed-top>div.container.mainnav>div>ul>li>a {
font-size: 14px;
    }
}


@media(max-width:990px){
    #ProductDetailsTable > div.deductableRow.row.SolidBottom.SolidTop > div.DedTitleCell.col-md-2.col-sm-3.col-xs-12{
        width: 100%;
    }
}


@media(max-width:990px) {
    .navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul {
        width: 100%;
    }
}
@media(max-width:769px) {
    .sideBox {
        border: none;
    }


}

@media(max-width:768px){
    .Title {
    padding: 7% 0 0 2% !important;
    margin-left: -15px !important;
    padding-right: 10px;
    width: auto;
    float: left;
    }

    .DedTitleCell {
        height: 70px;
        border-right: 2px dotted #bdbdbd;
        border-left: 1px solid #bdbdbd;
        border-bottom: 1px solid #bdbdbd;
        }
}
@media(max-width: 767px) {

    #collapseOne > div > section > div > div > img,#collapseTwo > div > section > div > div > img, #collapseThree > div > section > div > div > img{
        margin: 0 auto;
    }
    .circleimg {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sec6numbers {
        padding: 25px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 600px) {
    .videoTriggerImg {
        margin: 0 auto;
        padding: 25px;
    }

    #ChoosePlanBtn[style]{
    float:none !important;
    }
}

@media(max-width: 577px) {
    #accordion > div > div.panel-heading > h4 > div > div {
        padding: 25px;
    }
}

@media(min-width:483px) and (max-width:767px){
    .Title {
margin-top: 0px !important;
}
}


@media(max-width:482px){
    .Title{
        margin-top: 0px !important;
    }

    #section1, #section4, #section5, #healthresources, #section6{
        padding-top: 50px;
    }

    #section5 > div:nth-child(3) > div > div > div:nth-child(2){
        margin-top: 10px;
    }

    #PlanTitle > div.content > h3{
        padding-top: 30px !important;
    }

}
@media(max-width:320px) {

    #ChoosePlanBtn[style]{
    float:none !important;
    }

    
    .pushdown {
        padding-top: 80px !important;
    }
    #valuePropFeature > div:nth-child(1) > img, #sec1btn-vid > img, #sec4-vid-btn > img, #sec6-vid-btn > img, #sec1-vid > img, #sec5-vid > img {
        padding: 30px;
        margin: 0 auto;
    }
    #section6 .buttongroup {
        margin-left: 0px;
    }
    // .videoTrigger{
    //  display: none;
    // }
    #viewDetails {
        margin-top: 15px;
    }
    .moreDetails {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    #section1 {
        .dropButton .droptext {
            font-size: 144% !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 75%;
            margin-top: 11px;
        }
        .iconPNG {
            float: inherit !important;
            margin: 0 auto !important;
            display: block;
        }
        .icontext {
            font-weight: 300 !important;
            margin-top: 35px;
            text-align: center;
        }
    }
    a.btn.btn-lg.orange-btn {
        float: none !important;
        width: 100% !important;
        margin-bottom: 20px;
        font-size: 17px !important;
    }
    // SECTION 5 Mobile Bugs
    #sec5btn-drug {
        margin-bottom: 12px !important;
    }
    #accordion > div > div.panel-heading > h4 > div > div {
        position: relative;
        top: -12px;
        // right: -32px;
    }
    .panelTitle {
        margin-right: 60px;
    }
    .content {
        padding-bottom: 25px !important;
    }
    #networkBtn {
        font-size: 14px !important;
    }
    footer {
        height: 80px !important;
        .footlink {
            font-size: 10px;
        }
        .linkrow {
            margin-top: 14px !important;
        }
        .linkrow p {
            padding: 0 3px !important;
        }
        .linkrow .disclaimer {
            float: left;
        }
    }
    // Plan Details Page 
    #ChoosePlanBtn {
        font-size: 12px !important;
    }
    .number {
        font-size: 16px !important;
    }
    .Sub {
        font-size: 70% !important;
    }
    .mobileminheight {
        height: 75px !important;
    }
    .minheight {
        height: 47px;
    }
    .icon-cell {
        padding: 10px !important;
    }
    .lower {
        margin: 0 0 0 5px;
    }
}

@media(min-width: 1px){
     #networkBtn{
        margin-top: 8px !important;
    }
}
