// - plan-details page

include ./components/UHC-mixins.jade  
block content
	extend ./layouts/baseSub-2
	.container.pushDown

		br
		<a href="index.html" alt="" class="hidden-xs"><img src="./images/BackStoSummary.png" style="width: 115px"></a>
		h1.Blu-text Selecting A Plan
		h4.bold.Blu-text GET STARTED ON HEALTHCARE.GOV
		P.Blu-text Not sure which of our plans you’re interested in? The place to start is healthcare.gov.
		P.Blu-text That’s because you’ll provide some information about yourself there that determines whether you are eligible for any subsidies.
		P.Blu-text If you are eligible for  subsidies  such as a premium reduction or a “cost-sharing reduction” – you’ll have access to special plans and pricing.
		P.Blu-text That’s why we ask you to start the plan selection process on healthcare.gov. Once you do, you will know the plans you’d like to get details on and we’ll know the right plans and details to show you here on this site.
		br
		.row
			.col-lg-9.col-md-9.col-sm-12.col-xs-12
				.col-lg-5.col-md-5.col-sm-5.col-xs-12
					a.button.btn.orange-btn.btn-lg.btntxt(href="http://www.healthcare.gov" target="_blank" alt="search-uhc-network" id="networkBtn" style="padding: 15px 96px") GET STARTED
				.col-lg-2.col-md-2.col-sm-2.col-xs-2(style="position:relative; top:28px;")
					p - OR -
				.col-lg-5.col-md-5.col-sm-5.col-xs-5
					.bluedashedbox.text-center(style="position:relative; top:19px;") Call us at <b><a href="tel:+18442637797" style="font-weight:700;">844-263-7797 </a> TTY user dial 711</b> 
		hr 		

		h4.bold.Blu-text More About "Cost Sharing Reduction”
		p.Blu-text There are two kinds of savings offered on healthcare.gov.
		p.Blu-text One is a tax credit that reduces your monthly premium. The other is a “cost-sharing reduction.” That can reduce the amount you spend on your out-of-pocket costs like deductibles, co-payments and co-insurance.
		p.Blu-text To find out if you are eligible for savings, you’ll answer questions such as the number of people you want to cover in your plan and your household income etc.. If you are eligible, it will change the pricing you see on the site.

		h4.bold.Blu-text The right Summary of Benefits and Coverage
		p.Blu-text Knowing your cost-sharing reduction also helps us show you the right Summary of Benefits and Coverage. That’s the document that provides detail about a plan.
		p.Blu-text When you shop on healthcare.gov you see the names of “standard” plans. But some standard plans have several cost-sharing reduction versions.
		p.Blu-text If you are eligible for cost-sharing reduction, you’ll see the name of the standard plan, but you’ll see the prices from one of the cost-sharing reduction versions.
		p.Blu-text So knowing your cost-sharing reduction helps us show you the correct Summary of Benefits and Coverage document. The name of the plan on the document may be different from the name of the standard plan on healthcare.gov, but the costs and other details  will match in both places.


//- 		.row
//- 		.col-lg-12.col-md-12.col-sm-12.col-xs-12
//- 		.col-lg-5.col-md-5.col-sm-5.col-xs-5
//- 		.btn.btn-lg GET STARTED
//- 		.col-lg-2.col-md-2.col-sm-2.col-xs-2	
//- 		h4 - OR -
//- 		.col-lg-5.col-md-5.col-sm-5.col-xs-5
//- 		.btn.btn-lg Call us at 844-263-7797


		




//- include ./components/plan-details-bottom
include ./components/modals




