// - plan-details page

include ./components/UHC-mixins.jade  
block content
	extend ./layouts/baseSub
	.container.pushDown
		#PlanTitle
		script( id="PlanTitleTemplate" type="text/x-handlebars-template")    
			{{#with LAPlans.[13]}}
			+planNameMixin

			include ./components/plan-details-table
			{{/with}}
			

	include ./components/plan-details-bottom
include ./components/modals




